// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "DP-1" {
    mode "1600x900@60.00" // Set resolution and refresh rate
    scale 1 // No scaling (use 2 for HiDPI)
}

output "HDMI-A-1" {
    focus-at-startup
}

output "eDP-1" {
    scale 1
}
