window {
  margin: 0px;
  border: 2px solid #8bb591;
  background-color: #29362b;
}

#input {
  margin: 5px;
  border: none;
  color: #cdd6f4;
  background-color: #29362b;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  color: #FFFFFF;
}

#entry:selected {
  border: 2px solid #8bb591;
  background-color: #445947;
}
