" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vim/vimrc

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

" LSP navigation (using IdeaVim actions)
map gD <Action>(GotoDeclaration)
map gd <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map gr <Action>(FindUsages)

" LSP tools (using IdeaVim actions)
map K <Action>(QuickJavaDoc)
map <C-k> <Action>(ParameterInfo)
map <leader>td <Action>(GotoTypeDeclaration)
map <leader>rn <Action>(RenameElement)
map <leader>ca <Action>(ShowIntentionActions)

" Debugging (using IdeaVim actions)
map <F5> <Action>(Resume)
map <F6> <Action>(StepOver)
map <F7> <Action>(StepInto)
map <F8> <Action>(StepOut)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>dr <Action>(ActivateDebugToolWindow)
